:root {
  --primary: #25abd9;
}

.container {
  padding: 20px;
}

.custom_btn {
  background-color: #4caf50;
  border: none;
  border-radius: 15px;
  padding: 15px 32px;
  margin: 4px 2px;
  cursor: pointer;
}

.custom_ball {
  width: 100px;
  height: 100px;
  background-color: #f00;
  display: flex;
  height: 100px;
  justify-content: center;
}

/* Lesson 1 - Translate, transform, transition */

/* --------------- Cosas utilizadas o que se pueden utilizar ---------------
    translateX, translateY, translateZ, 
    transform
    transition
    transition-delay
    transition-duration
    transition-property
    transition-timing-function
*/

.transition_btn {
  transition-timing-function: ease;
  /* Puedes declarar la duration de cada prop o una para todos */
  transition-duration: 0.5s;
  /* Especificar tus propediades dara un mejor rendimiento a tu app, pero igual
  puedes utilizar, "all" si quieras ocupar menos codigo  */
  transition-property: background-color, color, width;
  /* Si vas a hacer algo de width primero debes declararle una base */
  width: 150px;

  /* Tambien podrias usar algo como
    transition: background-color 0.5s ease, color 0.5s ease, width 0.5s ease;

    RECUERDA usar tu duration time antes de tu delay time 
  */
}

.transition_btn:hover {
  background-color: #f00;
  color: #fff;
  width: 200px;
}

.transform_btn {
  transition-delay: 1s;
  transition-duration: 5s;
  transition-property: transform;
}

.transform_btn:hover {
  transform: rotate(360deg);
}

.my_example {
  transition: all ease 1s;
}

.my_example:hover {
  transform: translateX(100px);
}

/* Lesson 2 - Easing y timing function */

/* --------------- Cosas utilizadas o que se pueden utilizar ---------------
    ease
    ease-in
    ease-out
    ease-in-out
    linear
    cubic-bezier - este es mas complejo pero mas divertido
 */

.easing_btn {
  transition-duration: 1s;
  transition: all ease 1s linear;
  width: 150px;
}

.easing_btn:hover {
  width: 200px;
}

.easing_out {
  transition-duration: 1s;
  transition: all ease-out 1s;
  width: 150px;
}

.easing_out:hover {
  width: 200px;
}

.easing_in_out {
  transition-duration: 1s;
  transition: all ease-in-out 1s;
  width: 150px;
}

.easing_in_out:hover {
  width: 200px;
}

.cubic_beizer {
  transition-duration: 1s;
  /* cubic-bezier(<x1>, <y1>, <x2>, <y2>) */
  transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55) 1s;
  width: 150px;
}

.cubic_beizer:hover {
  width: 200px;
}

/* Lesson 3 - Keyframes */

/* --------------- Cosas utilizadas o que se pueden utilizar ---------------
    @keyframes
    animation-name
    animation-duration
    animation-iteration-count
    animation-direction
    animation-timing-function
    animation-delay
    animation-fill-mode
    animation-play-state
  */

.ball {
  border-radius: 50%;
  display: flex;
  align-items: center;
  color: white;
  font-weight: bold;
  background-color: red;
  cursor: pointer;
}

.ball:hover {
  /* animation-play-state: paused;  --pauso al tocar */
  animation-name: jump;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  25% {
    /* x y  */
    transform: translate(100px, -45px);
  }
  50% {
    transform: translate(150px, 0px);
  }
  75% {
    transform: translate(200px, -45px);
  }
  100% {
    transform: translate(250px, 0px);
  }
}

/* Lesson 4 - 3D animation */
.card {
  height: 300px;
  position: relative;
  transform-style: preserve-3d; /* CSS property allows for the children of an element to be animated in the 3D space*/
  transition: transform 1s ease-in-out;
  width: 200px;
}

.card_face {
  display: flex;
  /* 
    Esto es para que no se vea el contenido de la cara de la carta
    cuando se esta rotando
  */
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  height: 100%;
  width: 100%;
  border: solid 5px #000;
  position: absolute;
  color: #fff;
}

.card_face_front {
  background-color: #00f;
}

.card_face_back {
  background-color: #ffa500;
  transform: rotateY(180deg);
}

.card:hover {
  transform: rotateY(180deg);
}

/* Lesson 5 - Navbars! */
ul {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 500px;
}

li {
  list-style: none;
}

a {
  color: #333;
  display: block;
  font-family: roboto;
  font-size: 20px;
  padding: 10px;
  position: relative;
  text-decoration: none;
  transition: 0.5s ease-in-out;
}

span {
  display: block;
  transition: transform 0.5s ease-in-out;
}

a::after {
  background-color: #333;
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}

a:hover {
  color: blue;
}

a:hover span {
  transform: translateY(-7px);
}

a:hover::after {
  transform: scaleX(1);
}

/* Lesson 6 - Buttons */
.card2 {
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 3px 3px 2px 2px #ccc;
  display: flex;
  flex-wrap: wrap;
  height: 350px;
  justify-content: space-between;
  padding: 40px;
  width: 500px;
}

.button2 {
  background: none;
  border: solid 2px var(--primary);
  color: var(--primary);
  box-shadow: 0 5px 15px -5px #bbb;
  cursor: pointer;
  font-family: roboto;
  font-size: 14px;
  height: 50px;
  padding: 5px;
  position: relative;
  width: 150px;
  transform: perspective(1px);
  transition: color 0.2s ease-out;
  overflow: hidden;
}

.button2::before {
  background-color: var(--primary);
  bottom: 0;
  content: "";
  left: 0;
  right: 0;
  position: absolute;
  top: 0;
  z-index: -1;
  transition: transform 0.3s ease-out;
}

.button--six {
  border-radius: 20px;
  height: 75px;
  width: 75px;
}

.button--one::before {
  transform-origin: 0 0;
  transform: scaleX(0);
}

.button--one:hover,
.button--two:hover,
.button--three:hover,
.button--four:hover,
.button--five:hover {
  color: #fff;
}

.button--one:hover::before {
  transform: scaleX(1);
}

.button--two::before {
  transform-origin: 0 0;
  transform: scaleY(0);
}

.button--two:hover::before {
  transform: scaleY(1);
}

.button--three::before {
  transform: scaleX(0);
}

.button--three:hover::before {
  transform: scale(1);
  transform: scaleX(1);
}

.button--four::before {
  transform: scaleY(0);
}

.button--four:hover::before {
  transform: scaleY(1);
}

.button--five::before {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(135deg) scaleY(0);
  width: 100%;
}

.button--five:hover::before {
  transform: translate(-50%, -50%) rotate(135deg) scaleY(4);
}

.button--five:active::before {
  transform: translate(-50%, -50%) rotate(135deg) scaleY(10);
}
